# исключить из pages всё, кроме pages/home/ и pages/404/
/pages/**
!/pages/home/**
!/pages/404/**

# игнорируем все js-файлы в js
/js/*.js
/js/autoload/*.js
/js/lazy/*.js

# игнорируем все компоненты, кроме меню
/components/**
!/components/menu/**
